{% extends 'accounts/base.html' %}
{% block title %}Meet New People{% endblock title %}    
{% block content %}
    <div class="container">
        <header>
            <img src="static\images\logo.png" alt="App Logo" class="logo">
        </header>
        <main>
        

            <h1>Meet New People</h1>
            <div class="login-buttons">
                <button class="login-btn email-login">Login with Email/Phone</button>
                <button class="login-btn google-login">Login with Google</button>
                <p class="signup">Don’t have an account? <a href="#">Sign Up</a></p>
            </div>
        </main>
    </div>
{% endblock content %}